<config>
    <default>
        <magesail_config>
            <js>
                <enabled>0</enabled>
            </js>
        </magesail_config>
        <magesail_content>
            <intercept>
                <enable_intercept>0</enable_intercept>
                <enable_intercept_cron>0</enable_intercept_cron>
            </intercept>
            <tags>
                <use_categories>1</use_categories>
                <use_attributes>0</use_attributes>
            </tags>
        </magesail_content>
        <magesail_lists>
            <names>
                <select_case>0</select_case>
            </names>
        </magesail_lists>
        <magesail_send>
            <advanced>
                <templates_cache_lifetime>3600</templates_cache_lifetime>
                <use_email_queue>0</use_email_queue>
            </advanced>
        </magesail_send>
    </default>
</config>