<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Import" xsi:type="object">Sailthru\MageSail\Console\Command\Import</item>
            </argument>
        </arguments>
    </type>
    <type name="Sailthru\MageSail\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Sailthru\MageSail\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SailthruLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Sailthru\MageSail\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="MageSail_SubscriptionInterceptor" type="Sailthru\MageSail\Plugin\SubscribeIntercept" />
    </type>
    <type name="Magento\Customer\Model\Address">
        <plugin name="MageSail_AddressInterceptor" type="Sailthru\MageSail\Plugin\AddressIntercept" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="MageSail_ProductInterceptor" type="Sailthru\MageSail\Plugin\ProductIntercept" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
    	<plugin name="MageSail_CartInterceptor" type="Sailthru\MageSail\Plugin\CartIntercept" />
    </type>
    <type name="\Magento\Config\Model\Config\Structure\Element\Group">
        <plugin name="MageSail_Config_Fields" type="Sailthru\MageSail\Plugin\GroupIntercept"/>
    </type>
    <preference for="Magento\Framework\Mail\TransportInterface" type="Sailthru\MageSail\Mail\Transport"/>
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Sailthru\MageSail\Mail\TransportBuilder"/>
    <preference for="\Magento\Framework\Mail\EmailMessage" type="Sailthru\MageSail\Mail\EmailMessage"/>
    <preference for="\Magento\Email\Model\Template" type="Sailthru\MageSail\Mail\Template"/>
    <preference for="\Magento\Email\Model\BackendTemplate" type="Sailthru\MageSail\Mail\BackendTemplate"/>
    <preference for="\Magento\Email\Model\Template\Filter" type="Sailthru\MageSail\Mail\Filter"/>
    <type name="Sailthru\MageSail\Mail\BackendTemplate">
        <arguments>
            <argument name="urlModel" xsi:type="object" shared="false">Magento\Backend\Model\Url</argument>
        </arguments>
    </type>
</config>
