<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="MageSail_SubscriptionInterceptor" type="Sailthru\MageSail\Plugin\SubscribeIntercept" />
    </type>
    <type name="Magento\Customer\Model\Address">
        <plugin name="MageSail_AddressInterceptor" type="Sailthru\MageSail\Plugin\AddressIntercept" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="MageSail_ProductInterceptor" type="Sailthru\MageSail\Plugin\ProductIntercept" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
    	<plugin name="MageSail_CartInterceptor" type="Sailthru\MageSail\Plugin\CartIntercept" />
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
    	<plugin name="MageSail_OrderIntercept" type="Sailthru\MageSail\Plugin\OrderIntercept" />
    </type>
    <type name="\Magento\Config\Model\Config\Structure\Element\Group">
        <plugin name="MageSail_Config_Fields" type="Sailthru\MageSail\Plugin\GroupIntercept"/>
    </type>
    <preference for="\Magento\Framework\Mail\Transport" type="Sailthru\MageSail\Mail\Transport"/>
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Sailthru\MageSail\Mail\TransportBuilder"/>
    <preference for="\Magento\Framework\Mail\Message" type="Sailthru\MageSail\Mail\Message"/>
    <preference for="\Magento\Email\Model\Template" type="Sailthru\MageSail\Mail\Template"/>
    <preference for="\Magento\Email\Model\Template\Filter" type="Sailthru\MageSail\Mail\Filter"/>
</config>
