<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sailthru" translate="label" sortOrder="300">
            <label>Sailthru</label>
        </tab>
        <!-- Config section -->
        <section id="magesail_config" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Setup</label>
            <tab>sailthru</tab>
            <resource>Sailthru_Magesail::config</resource>
            <group id="service" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sailthru API</label>
                <comment><![CDATA[Please enter your API credentials to sync users, orders, and products as well as send transactional emails with Sailthru. Find your API credentials <a href="https://my.sailthru.com/settings/api_postbacks" target="_blank">here</a>.]]></comment>
                <field id="api_key" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="secret_key" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
               <field id="valid_keys" translate="button_label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <frontend_model>Sailthru\MageSail\Block\System\Config\Button\Check</frontend_model>
                    <comment><![CDATA[After saving valid credentials, other settings will be accessible.]]></comment>
                </field>
            </group>
            <group id="js" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sailthru JavaScript</label>
                <comment><![CDATA[Use the Sailthru Script Tag to improve personalization and leverage onsite tools like Site Personalization Manager, Overlays, and the Sailthru JavaScript API.]]></comment>
                <field id="enabled" type="select" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sailthru Script Tag</label>
                    <comment><![CDATA[<em>Note: You must flush your full-page cache for changes to take affect.</em>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer ID</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Click <a href="https://my.sailthru.com/settings/api_postbacks" target="_blank">here</a> to see your Customer ID]]></comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <!-- Content section -->
        <section id="magesail_content" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Content</label>
            <tab>sailthru</tab>
            <resource>Sailthru_Magesail::config</resource>
            <group id="intercept" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sailthru Product Updates</label>
                <field id="enable_intercept" type="select" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send products to Sailthru on product update</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedEnableDisable</source_model>
                    <comment><![CDATA[This allows us to keep your content library in-sync with Magento.]]></comment>
                </field>
                <field id="send_master" type="select" translate="label comment" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Configurable/Master Products to Sailthru</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Should Configurable products (masters) be sent to Sailthru]]></comment>
                    <depends>
                        <field id="*/*/enable_intercept">1</field>
                    </depends>
                </field>
                <field id="send_variants" type="select" translate="label comment" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Variant Products to Sailthru on Product Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Should variant products be sent to Sailthru. NOTE: If variants aren't visible individually, must enable URL-fragmenting in Sailthru.]]></comment>
                    <depends>
                        <field id="*/*/enable_intercept">1</field>
                    </depends>
                </field>
                <field id="enable_intercept_cron" type="select" translate="label comment" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Scheduled Products Sync to Sailthru</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Sync Products also Nightly to Sailthru]]></comment>
                </field>
            </group>
            <group id="tags" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Tags/Vars</label>
                <field id="use_seo" type="select" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get tags from SEO keywords</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_categories" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get tags from categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_attributes" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get tags/vars from from product attributes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="usable_attributes" type="multiselect" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Product Attributes to be used in Sailthru tags/vars</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\TaggableAttributes</source_model>
                    <depends>
                        <field id="*/*/use_attributes">1</field>
                    </depends>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
        <!-- Lists section -->
        <section id="magesail_lists" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>sailthru</tab>
            <label>Users</label>
            <resource>Sailthru_Magesail::config</resource>
            <group id="lists" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lists</label>
                <field id="enable_signup_list" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add new registering customers to Sailthru list</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedEnableDisable</source_model>
                    <comment><![CDATA[Upon registration, set users to be added to a Sailthru list of your choice.]]></comment>
                </field>
                 <field id="signup_list" type="select" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Sign-Up Lists</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\SailthruLists</source_model>
                    <tooltip><![CDATA[New a new list? Check my.sailthru.com to create it!]]></tooltip>
                    <comment><![CDATA[Select the Sailthru list where newly registered customers will be added.]]></comment>
                    <depends>
                        <field id="*/*/enable_signup_list">1</field>
                    </depends>
                </field>
                <field id="enable_newsletter" type="select" translate="label comment" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Default Magento Newsletter Subscribe</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedEnableDisable</source_model>
                    <comment><![CDATA[Override Magento's default Newsletter system and add users instead to a Sailthru List]]></comment>
                </field>
                <field id="newsletter_list" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter Lists</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\SailthruLists</source_model>
                    <tooltip><![CDATA[New a new list? Check my.sailthru.com to create it!]]></tooltip>
                    <depends>
                        <field id="*/*/enable_newsletter">1</field>
                    </depends>
                </field>
            </group>
            <group id="names" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>User Vars</label>
                <field id="select_case" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name Vars Format</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedSnakeOrCamel</source_model>
                    <comment><![CDATA[Save name vars to Sailthru using camel case (<code><b>firstName</b></code>) or snake case (<code><b>first_name</b></code>)]]></comment>
                </field>
            </group>
        </section>
        <!-- Transactionals section -->
        <section id="magesail_send" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Messaging</label>
            <tab>sailthru</tab>
            <resource>Sailthru_Magesail::config</resource>
            <group id="abandoned_cart" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sailthru Abandoned Cart</label>
                <field id="enabled" type="select" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Abandoned Cart Messages</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedLOEnableDisable</source_model>
                </field>
                <field id="lo_selected" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <frontend_model>Sailthru\MageSail\Block\System\Config\Image\Check</frontend_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="template" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Abandoned Cart Template</label>
                    <depends>
                        <field id="*/*/enabled">2</field>
                    </depends>
                    <source_model>Sailthru\MageSail\Model\Config\Source\SailthruAbandonedCartTemplates</source_model>
                </field>
                <field id="delay_time" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Abandoned Cart Send Time</label>
                    <tooltip>e.g. 5 minutes, 1 hour, 1 day</tooltip>
                    <comment><![CDATA[Amount of time after updating a non-empty cart that Sailthru should send the customer an email.]]></comment>
                    <depends>
                        <field id="*/*/enabled">2</field>
                    </depends>
                </field>
                <field id="anonymous_carts" type="select" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Abandoned Carts to Guest Users with HID</label>
                    <comment><![CDATA[Enabling will allow you to send Abandoned Carts to customers who aren't currently signed-in, but have a sailthru_hid cookie for your site.]]></comment>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedEnableDisable</source_model>
                </field>
            </group>
            <group id="transactionals" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transactionals</label>
                <field id="send_through_sailthru" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                    <label>Send emails with Sailthru</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\ValidatedEnableDisable</source_model>
                    <comment><![CDATA[Let Sailthru send all of your store's Magento transactional messaging.  Can use your Magento or Sailthru templates.]]></comment>
                </field>
                <field id="from_sender" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>From Email</label>
                    <source_model>Sailthru\MageSail\Model\Config\Source\VerifiedEmails</source_model>
                    <comment>
                        <![CDATA[
                            When sending Magento templates, use this Sailthru-verified sender to deliver the email.<br/>
                            <span style="font-size: 10px;">
                                Add a new verified sender at <a style="font-size: 10px;" href="https://my.sailthru.com/verify">https://my.sailthru.com/verify</a>
                            </span>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/send_through_sailthru">1</field>
                    </depends>
                </field>
                <field id="templates_cache_lifetime" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1">
                    <label>Templates Cache Lifetime</label>
                    <depends>
                        <field id="*/*/send_through_sailthru">1</field>
                    </depends>
                </field>
                <field id="process_queue" type="select" translate="label comment" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Process Sailthru Emails By Queue</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable if you want messages to be processed by the queue.]]></comment>
                    <depends>
                        <field id="*/*/send_through_sailthru">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
